<h1>Update Profile</h1>


<%= form_for @users do |f| %>
    <div>
    User Name: <%= f.text_field :user_name %>
	</div>

	<div>
    Email: <%= f.text_field :email %>
   </div>
<%= f.submit "Update" %>
<%= link_to "Delete Your Profile", :user, method: :delete, data: { confirm: "Are you sure you want to delete your profile?"} %>
  
  <% end %>