
 
  <%= form_for Vegetable.new do |f| %>
    
   
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  
  <div>
    <%= f.submit "Add Veggies!" %>
  </div>

<% end%>