
 
  <%= form_for @garden do |f| %>
    <%= f.fields_for :vegetable do |builder| %>
      <div>
        <%= builder.label :name %>
        <%= builder.text_field :name %>
      </div>
  
      <div>
        <%= builder.label :quantity %>
        <%= builder.text_field :quantity %>
      </div>
  
      <div>
        <%= builder.submit "Add Veggies!" %>
      </div>

    <% end%>

<% end%>



  <%=link_to "Back to #{@garden.name}", garden_path(@garden) %>