
 
  <%= form_for [@garden, @vegetable] do |f| %>
    
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
  
      <div>
        <%= f.label :quantity %>
        <%= f.text_field :quantity %>
      </div>
  
      <div>
        <%= f.submit "Add Veggies!" %>
      </div>

    <% end%>





  <%=link_to "Back to #{@garden.name}", garden_path(@garden) %>