<h1>Make changes to this garden </h1>

    <%= form_for @garden do |g| %>

    	<div>
    		<%= link_to "Add New Garden", new_garden_path  %>
    	</div>

    	<div>
        Name: <%= g.text_field :name %>
        Location: <%= g.text_field :location %>
        </div>
       

        <%= g.submit "Submit these changes!" %>
        <%= link_to "Delete this Garden!", :garden , method: :delete, data: { confirm: "Are you sure you want to delete this Garden?"} %>


    <% end %> 

   