<h1> <%= @garden.name  %>   </h1>

<p>
   <%= @garden.location %> <%= link_to "EDIT", edit_garden_path %>	   
<p>


<% @all_vegetables.each do|v| %> 
	
	<ul>
	   <li>
	     <%= v.name %>  
	     <%= v.quantity %> 
	   </li>
	</ul>
	
<% end %>
    
<%= link_to "Add Veggie", new_garden_vegetable_path(@garden) %>
 





