<h1> <%= @garden.name  %>   </h1>

<ul>
	<li>
	<%= @garden.location %>
	</li>

    <li>
	<%= link_to "EDIT", edit_garden_path %>
	</li>
</ul>


<% @all_vegetables.each do|v| %> 
	 
	<%= v.name %>
	<%= v %>



 <% end %>

 <%= link_to "Add Veggie", new_garden_vegetable_path(@garden) %>


 <p> THIS IS PRACTICE</p>